<ion-view title="个人中心">
	<ion-content class="padding">
		<a style="padding-right: 10px;" class="item item-icon-right" href="#">
			手机号码
				<span class="item-note">
         13143033498
        </span>
		</a>
		<a style="padding-right: 10px;" class="item item-icon-right" href="#">
			公司
				<span class="item-note">
         佛山市小鹿网络科技有限公司
        </span>
		</a>
		<a style="padding-right: 10px;" class="item item-icon-right" href="#">
			餐厅
				<span class="item-note">
         福禄寿餐厅
        </span>
		</a>

		<a  style="margin-top: 50px;" class="item item-icon-right" href="#/menu/plan">
			计划订餐
				<span class="item-note">
         星期一
        </span>
			<i class="icon ion-chevron-right"></i>
		</a>

	</ion-content>
</ion-view>