<ion-view title="订单详细">
	<ion-content class="padding">
		<div class="list">

			<div class="item item-divider">
				订单基本资料
			</div>
			<a style="padding-right: 10px;" class="item item-icon-right" href="#">
				订餐状态
				<span class="item-note">
         正常
        </span>
			</a>
			<a style="padding-right: 10px;" class="item item-icon-right" href="#">
				订餐时间
				<span class="item-note">
         2015-04-16
        </span>
			</a>
			<a style="padding-right: 10px;" class="item item-icon-right" href="#">
				送餐时间
				<span class="item-note">
         2015-04-16
        </span>
			</a>
			<a style="padding-right: 10px;" class="item item-icon-right" href="#">
				送餐餐厅
				<span class="item-note">
         福禄寿餐厅
        </span>
			</a>
			<a style="padding-right: 10px;" class="item item-icon-right" href="#">
				用餐企业
				<span class="item-note">
         佛山市小鹿网络科技有限公司
        </span>
			</a>
		</div>
		<div class="list">

			<div class="item item-divider">
				当天菜式
			</div>
			<a class="item item-icon-right" href="#">
				订餐状态
			</a>

		</div>
	</ion-content>
</ion-view>